:root {
    --orange: #ff7d1b;
    --light-orange: #ffac6a;
    --light-grey: #f7f8fd;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    position: relative;
    margin: auto;
    width: 70%;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

hr {
    margin-bottom: 50px;
    border: none;
    border-bottom: 1px solid lightgrey;
}

/*--------------------HEADER---------------------*/
header {
    position: relative;
    margin: 15px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

header img:hover {
    cursor: pointer;
}

ul {
    margin-left: 50px;
    display: flex;
    list-style: none;
}

li {
    margin: 20px;
    cursor: pointer;
    font-weight: bold;
}

li:hover {
    color: lightgrey;
}

.cart-profile {
    position: relative;
    margin-left: auto;
}

.cart-icon {
    position: relative;
}

.item-counter {
    position: absolute;
    top: -5px;
    right: -10px;
    width: 20px;
    height: 15px;
    color: white;
    background-color: var(--orange);
    border-radius: 10px;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    line-height: 15px;
}

.cart-modal {
    position: absolute;
    z-index: 10;
    top: 80px;
    right: 0;
    width: 350px;
    height: 250px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 7px 3px 18px 2px rgba(0, 0, 0, 0.18);
    -webkit-box-shadow: 7px 3px 18px 2px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 7px 3px 18px 2px rgba(0, 0, 0, 0.18);
}

.cart-modal h4 {
    position: relative;
    margin: 20px 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid lightgrey;
}

.cart-empty {
    color: gray;
    font-weight: bold;
}

.cart-full {
    display: none;
    grid-template-columns: 1fr 2fr;
}

.cart-full img {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    margin: 10px;
    justify-self: center;
}

.cart-full span {
    color: gray;
    font-weight: normal;
}

#trash {
    position: absolute;
    right: 0;
    top: 17px;
    cursor: pointer;
}

#profile-pic {
    width: 50px;
    height: 50px;
    margin-left: 20px;
}

#profile-pic:hover {
    border: 2px solid orangered;
    border-radius: 50%;
}

/*--------------------IMAGES---------------------*/
label {
    text-align: center;
}

.slider {
    width: 90%;
    overflow: hidden;
}

.slides {
    display: flex;
    position: relative;
    transition: 2s;
}

.slides input {
    z-index: 1000;
    display: none;
}

.product-img {
    width: 100%;
    border-radius: 10px;
    transition: 2s;
}

.img-thumbnail {
    width: 60%;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 10px;
}

.selector-img {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.carousel-btn {
    display: none;
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -100%;
}

#radio3:checked~.first {
    margin-left: -200%;
}

#radio4:checked~.first {
    margin-left: -300%;
}

/*--------------------PRODUCT INFO---------------------*/

span {
    font-weight: bold;
    color: orange;
}

p {
    color: gray;
    line-height: 2em;
}

s {
    color: lightgrey;
}

ion-icon {
    font-size: 20px;
    margin-right: 10px;
}

input {
    border: none;
    background-color: var(--light-grey);
    outline: none;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    appearance: none;
}

.info-text {
    padding: 50px;
}

.info-text h1 {
    font-size: 40px;
    margin-top: 20px;
}

.sale {
    color: orange;
    width: 50px;
    height: 30px;
    font-size: .8em;
    font-weight: bolder;
    background-color: #ffeede;
    text-align: center;
    line-height: 30px;
    border-radius: 10px;
    margin-left: 15px;
}

.pricetag {
    display: flex;
    margin-bottom: 10px;
}

.buy-it {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.buy-counter {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    background-color: var(--light-grey);
    width: 100px;
    height: 50px;
    font-size: 15px;
}

.input-group-button {
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

.input-number-increment {
    padding-right: 10px;
}

.input-number-decrement {
    padding-left: 10px;
}

#btn-cart {
    font-weight: bold;
    border: none;
    border-radius: 15px;
    background-color: var(--orange);
    width: 200px;
    height: 50px;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

#btn-cart:hover {
    background-color: var(--light-orange);
}



/*--------------------CART CONTENT---------------------*/


@media screen and (max-width:1400px) {
    .menu {
        display: none;
    }

    hr {
        display: none;
    }

    .main {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 0 auto;
    }

    .selector-img {
        display: none;
    }

    .btn-div {
        position: relative;
    }

    .carousel-btn {
        display: flex;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 50px;
        height: 50px;
        background-color: #f7f8fd;
        border-radius: 50%;
        opacity: 0.8;
        cursor: pointer;
        transition: 500ms;
        z-index: 3;
    }

    .carousel-btn:hover {
        opacity: 1;
    }

    .carousel-btn-next {
        right: 10px;
    }

    .carousel-btn-prev {
        left: 10px;
    }

    .icon-menu {
        display: block;
        margin-right: 20px;
    }

    .buy-it {
        display: flex;
        flex-direction: column;
    }

    .buy-counter,
    #btn-cart {
        width: 100%;
        margin-bottom: 15px;
    }

    #profile-pic {
        width: 40px;
        height: 40px;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        margin: 0;
        width: 200px;
    }

    .mobile-menu img {
        width: 20px;
        height: 20px;
        margin-left: 20px;
        margin-bottom: 50px;
    }

    .mobile-menu {
        display: flex;
        position: absolute;
        top: 0;
        height: 100vh;
        left: -500px;
        background-color: white;
        z-index: 10;
        transition: all 500ms;
    }
}

@media screen and (max-width:750px) {
    .cart-modal {
        top: 60px;
        width: 100%;
        border-radius: 0;
    }

    .main {
        width: 100%;
    }

}

@media screen and (max-width:400px) {
    #profile-pic {
        display: none;
    }

    #profile-pic-menu {
        display: block;
    }
}